
.search-bar-container {
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 10px; 
    text-align: center; 
}

.search-input {
    width: 300px; 
    height: 40px; 
    padding: 8px 10px; 
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
}


.search-input:hover,
.search-input:focus {
    border-color: #888; 
    outline: none; 
}
